
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Garantia final contra deslizes */
}

header {
    position: relative;
    top: 0;
    left: 225px; /* Alinhado com a largura da sua sidebar */
    width: calc(100% - 225px); /* Ocupa apenas o que sobra */
    height: 250px;
    background-image: url(Imagens/Timor\ Leste.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: auto;
}

main {
    text-align: justify;
    position: relative;
    margin: 10px;
    left: 225px; 
    width: calc(100% - 225px); /* Mesma lógica aqui */
    background-color: #D4F5D3;
    border-radius: 5px;
    height: 100%; /* Garante que o main ocupe toda a altura da tela */
    padding: 30px;
}

aside {
    position: fixed;
    top: 0;
    left: 0; /* Fixa na borda esquerda */
    width: 225px;
    height: 100vh; /* 100vh faz ela ocupar a altura toda da tela */
    background-color: #367534;
    border-radius: 5px;
    z-index: 10; /* Garante que ela fique por cima se necessário */
}
#degrade {
    background: linear-gradient(to right, #be00a5, #feca1f);
    background-size: auto;
    font-size: 50px;
}
